body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#title {
	padding: 40px;
}

#title h1 {
	text-align: center;
	margin-bottom: 40px
}

button {
	width: 100%;
}

#followers, #tree, #history {
	padding-top: 60px;
}

#followers h2, #followers h5, #tree h2, #history h2, #history h5 {
	text-align: center;
}

#followers h5, #history h5 {
	padding-top: 90px;
}

#followers ul, #tree ul, #history ul {
	padding: 25px 0;
}

#followers li div, #tree li div, #history li div {
	margin: 0;
	display: inline-block;
}

#followers li img, #tree li img {
	border-radius: 150px;
	max-width: 75%;
}

#tree li img {
	margin-top: 8px;
	max-width: 100%;
}

#followers li img {
	max-width: 95%;
}

#followers li .f-text {
	margin-top: 15px;
}

#tree li .f-text, #history li .f-text {
	margin-top: 6px;
}

#followers li span, #tree li span, #history li span {
	cursor: pointer;
	color: #43C1E0;
	text-decoration: underline;
}

#followers li:hover, #tree li span:hover, #history li:hover {
	color: #21A0C0;
}

#followers li, #tree li {
	text-align: center;
}
